.cardMyProgrammeTab,
.cardProgrammeTab,
.cardInteractivityTab,
.cardProgrammeTrainingTab {
  position: relative;
  min-height: 0px;
  margin: 10px;
  --background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: rgba(var(--ion-color-light-rgb), .95);

  ion-label {
    z-index: 2;
    color: rgba(var(--ion-color-dark-rgb), 1.0);
    font-weight: 800;
    font-size: 16px;
  }

  .img-bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    opacity: .2;
  }

  &.active {
    background-color: rgba(var(--ion-color-congress-ultralight-rgb), 1.0);

    .img-bg {
      opacity: .6;
    }

    ion-label {
      color: rgba(var(--ion-color-light-rgb), 1.0);
    }
  }

  ion-card-content {
    height: 60px;
    min-height: 4px;
    padding: 10px 10px;
    align-items: center;
    display: flex;
    justify-content: center;

    ion-label {
      font-weight: bold;
    }
  }
}

@for $i from 1 through 5 {
  .tab-#{$i} {
    background-image: url(/assets/img/blocks/Bloc-Off-#{$i}.png);

    &.active {
      background-image: url(/assets/img/blocks/Bloc-On-#{$i}.png);
    }
  }
}

ion-card-title {
  padding-top: 10px;

  .size-l {
    width: 32px;
    height: 32px;
  }
}
