@import 'swiper/scss';
@import 'swiper/scss/pagination';
@import 'swiper/scss/navigation';
@import 'swiper/scss/virtual';

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background: var(--ion-color-light);
}
